<div class="home-banner" data-stretch="<%= image_url '/images/cat.jpeg' %>">
  <div class="banner-inner container clearfix">
    <div class="home-banner-links">
      <%= link_to "Register", "/signup", class: "banner-btn btn" %>
    </div>
    <div class="home-banner-links" style="left: 100px;top: 100px;">
      <%= link_to "Login", "/login", class: "banner-btn btn" %>
    </div>
    <div class="home-banner-links" style="left: 350px;top: 150px;">
      <%= link_to "Event", "#", class: "banner-btn btn" %>
    </div>
  </div>
</div>
<div class="issue-list-header">
  <div class="container clearfix">
    <h1 class="issue-list-heading"></h1>
  </div>
</div>